@import 'vars';

@font-face {
	font-family: GothamBlack;
	src: url(/fonts/gotham-black-webfont.eot) format('eot');
}

@font-face {
	font-family: 'UrbanoExtraCond';
	src: url('/fonts/Urbano-ExtraCond-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('/fonts/Urbano-ExtraCond-webfont.woff') format('woff'), 
	     url('/fonts/Urbano-ExtraCond-webfont.ttf')  format('truetype'),
	     url('/fonts/Urbano-ExtraCond-webfont.svg#svgFontName') format('svg');
	}

@font-face {
    font-family: 'ArcherProLightItalic';
    src: url('/fonts/ArcherProLightItalic.eot');
    src: url('/fonts/ArcherProLightItalic.eot') format('embedded-opentype'),
         url('/fonts/ArcherProLightItalic.woff2') format('woff2'),
         url('/fonts/ArcherProLightItalic.woff') format('woff'),
         url('/fonts/ArcherProLightItalic.ttf') format('truetype'),
         url('/fonts/ArcherProLightItalic.svg#ArcherProLightItalic') format('svg');
}

@font-face {
    font-family: 'ArcherProBook';
    src: url('/fonts/ArcherProBook.eot');
    src: url('/fonts/ArcherProBook.eot') format('embedded-opentype'),
         url('/fonts/ArcherProBook.woff2') format('woff2'),
         url('/fonts/ArcherProBook.woff') format('woff'),
         url('/fonts/ArcherProBook.ttf') format('truetype'),
         url('/fonts/ArcherProBook.svg#ArcherProBook') format('svg');
}

h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */

font-weight: normal;

}

a {
	outline: 0;
}

a:hover, a:active, a:focus{
	outline: 0;
}

input::-moz-focus-inner { 
  border: 0; 
}

.orientationHorizontal{
	width:100%;
	height:100%;
	background:white;
	position:fixed;
	z-index:999999999999999999999;
	display: block;
}

.orientationHorizontal p{
	text-align: center center;
	padding-left:20px;
}


/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media screen 
and (min-width : 320px) 
and (max-width : 568px) {
		
		.nav {
			padding-left:30px;
		}

		.nav>li {
		  position: relative;
		  display: inline-block;
		}

		.jumbotron h1 {
			font-size: 38px !important;
		}

		.title-invert{
			font-family: UrbanoExtraCond;
			font-size: 140px;
		  margin: 0 auto;
		  letter-spacing: 11px;
		  text-align:center;
		  max-width:90% !important;
			position: absolute;
			top: 150px !important;
			left: 0;
			right: 0;
			color:rgb(68, 68, 68) !important;
		}

		.subtitle-invert {
			font-family: 'ArcherProLightItalic';
			font-size: 20px;
			font-weight: 100;
			font-style: italic;
			letter-spacing: 1px;
			color:white;
			margin:0 auto;
		  position: absolute;
		  top: 290px !important;
		  left: 0;
		  right: 0;
		  text-align: center;
			color:rgb(68, 68, 68);
		}

		.main-title{
			padding-top:50px;
			font-family: UrbanoExtraCond;
			margin: 0 auto;
		  letter-spacing: 11px;
		  width: 100%;
		  text-align:center;
			color:rgb(68, 68, 68) !important;
		}	

		.title {
			font-family: UrbanoExtraCond;
			font-size: 140px;
		  margin: 0 auto;
		  color: white !important;
		  letter-spacing: 11px;
		  text-align:center;
		  max-width:80% !important;
			position: absolute;
			top: 180px !important;
			left: 0;
			right: 0;
		}

		.subtitle {
			font-family: 'ArcherProLightItalic';
			font-size: 20px;
			font-weight: 100;
			font-style: italic;
			letter-spacing: 1px;
			color:white;
			margin:0 auto;
		  position: absolute;
		  top: 280px !important;
		  left: 0;
		  right: 0;
		  text-align: center;
		}

		.badge{
			display: inline-block;
			min-width: 10px;
			padding: 5px 11px;
			font-size: 10px;
			font-weight: 100;
			font-style: italic;
			line-height: 1;
			color: #fff;
			width: 100px;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			background-color: #777;
			border-radius: 10px;
			position: absolute;
			margin:0 auto;
			top: 312px !important;
			left: 0;
			right: 0;
			transition:.25s background;
		}

		.badge-about{
			top:220px !important;
		}

		.badge-home{
			top: 42% !important;
		}

		.about{
			font-family: 'ArcherProBook';
		    font-size: 16px;
		    font-weight: 100;
		    letter-spacing: 1px;
		    color: #444444;
		    margin: 0 auto;
		    line-height: 20px;
		    position: relative;
		    padding-top:60px !important;
		}	

		#logo{
			background: url('../../images/ap-logo.svg') no-repeat center center;
			z-index: -2;
			background-size: 320px !important;
			opacity: .1;
			position: fixed;
			width: 100%;
			top:0;
			left:0;
			right:0;
			/*  height: 350px;*/ /*same height as jumbotron */
		}

		.history{
			background: url('../../images/basic_spread_text.svg') no-repeat center center;
			z-index: -2;
			background-size: 240px !important;
			opacity: .9;
			height: 100%;
			width: 100%;
			position: absolute;
			background-position-y: 3% !important;
		}

		.future{
			background: url('../../images/basic_eye.svg') no-repeat center center;
			z-index: -2;
			background-size: 240px !important;
			opacity: .35;
			height: 100%;
			width: 100%;
			position: absolute;
			background-position-y: 2% !important;
		}

		.podium{
			background: url('../../images/basic_display.svg') no-repeat center center;
			z-index: -2;
			background-size: 150px !important;
			opacity: .45;
			height: 100%;
			width: 100%;
			position: absolute;
			background-position-y:7% !important;
		}

		.pickle{
			background: url('../../images/basic_signs.svg') no-repeat center center;
			z-index: -2;
			background-size: 180px !important;
			opacity: .75;
			height: 100%;
			width: 100%;
			position: absolute;
			background-position-y: 2.75% !important;
		}


		.pickleUX{
			padding-left: 50px !important;
			padding-top: 20px !important;
		}

		.newco {
			background: url('../../images/basic_multiscreen.svg') no-repeat center center;
			z-index: -2;
		  background-size: 280px !important;
		  opacity: 1;
		  height: 100%;
		  width: 100%;
		  position: absolute;
		  background-position-y: 3% !important;
		}

		.controls-column-center {
			top: 332px !important;
			position: fixed;
			height: 100%;
			width: 100%;
			z-index: 1000000;
			left:0;
			right:0;
		}

		.next-prev svg {
			width:60px !important;
		}

		.next-prev:hover {
			opacity: 1 !important;
		}

		.next-prev:active{
			opacity: .5 !important;
		}

		.scroll-down{
			top: 0px !important;
			padding-top: 11% !important; 
		}

		.projectNum {
		  position: fixed;
		  right: 30px !important;
		  top: 35% !important;
		}

		.about-container{
			padding-top:200px;
			max-width: 90%;
			margin:0 auto;
		}

		.about-container h3{
			font-size:16px !important;
		}

		.scrollTopButtonOn {
	  background: url('../../images/scrollTop-01.svg') no-repeat;
    -webkit-transition: all 1s;
    transition: all 1s;
    position: fixed;
		bottom: 20px;
		right: 20px !important;
		width: 50px !important;
		height: 50px !important;
		z-index: 9999999999999; 
	}

	.scrollTopButtonOn:active{
		opacity:.25;
		cursor: pointer;
	}

	.scrollTopButtonOn-add {
		background: url('../../images/scrollTop-01.svg') no-repeat;
		opacity:0;
		position: fixed;
	  bottom: 20px;
		right: 20px !important;
		width: 50px !important;
		height: 50px !important;
		-webkit-transform: translate3d(0,-200,0);
		transform: translate3d(0,-200,0);
		z-index: 9999999999999;
	}

	.scrollTopButtonOn-add-active{
		background: url('../../images/scrollTop-01.svg') no-repeat;
		position: fixed;
		bottom: 20px;
		right: 20px !important;
		width: 50px !important;
		height: 50px !important;
		opacity:1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		z-index: 9999999999999;
	}

		
}

/*iPhone 6*/
@media only screen 
and (min-width : 375px) 
and (max-width : 667px) { 
	.nav {
			padding-left:30px;
		}

		.nav>li {
		  position: relative;
		  display: inline-block;
		}

		.jumbotron h1 {
			font-size: 38px !important;
		}

		.title-invert{
			font-family: UrbanoExtraCond;
			font-size: 140px;
		  margin: 0 auto;
		  letter-spacing: 11px;
		  text-align:center;
		  max-width:90% !important;
			position: absolute;
			top: 150px !important;
			left: 0;
			right: 0;
			color:rgb(68, 68, 68) !important;
		}

		.subtitle-invert {
			font-family: 'ArcherProLightItalic';
			font-size: 20px;
			font-weight: 100;
			font-style: italic;
			letter-spacing: 1px;
			color:white;
			margin:0 auto;
		  position: absolute;
		  top: 290px !important;
		  left: 0;
		  right: 0;
		  text-align: center;
			color:rgb(68, 68, 68);
		}

		.main-title{
			padding-top:50px;
			font-family: UrbanoExtraCond;
			margin: 0 auto;
		  letter-spacing: 11px;
		  width: 100%;
		  text-align:center;
			color:rgb(68, 68, 68) !important;
		}	

		.title {
			font-family: UrbanoExtraCond;
			font-size: 140px;
		  margin: 0 auto;
		  color: white !important;
		  letter-spacing: 11px;
		  text-align:center;
		  max-width:80% !important;
			position: absolute;
			top: 180px !important;
			left: 0;
			right: 0;
		}

		.subtitle {
			font-family: 'ArcherProLightItalic';
			font-size: 20px;
			font-weight: 100;
			font-style: italic;
			letter-spacing: 1px;
			color:white;
			margin:0 auto;
		  position: absolute;
		  top: 280px !important;
		  left: 0;
		  right: 0;
		  text-align: center;
		}

		.badge{
			display: inline-block;
		  min-width: 10px;
		  padding: 5px 11px;
		  font-size: 10px;
		  font-weight: 100;
		  font-style: italic;
		  line-height: 1;
		  color: #fff;
		  width: 100px;
		  text-align: center;
		  white-space: nowrap;
		  vertical-align: middle;
		  background-color: #777;
		  border-radius: 10px;
		  position: absolute;
		  margin:0 auto;
		  top: 330px !important;
		  left: 0;
		  right: 0;
		  transition:.25s background;
		}

		.badge-about{
			top:220px !important;
		}

		.badge-home{
			top: 42% !important;
		}

		.about{
			font-family: 'ArcherProBook';
		    font-size: 16px;
		    font-weight: 100;
		    letter-spacing: 1px;
		    color: #444444;
		    margin: 0 auto;
		    line-height: 20px;
		    position: relative;
		    padding-top:60px !important;
		}		

		#logo{
			background: url('../../images/ap-logo.svg') no-repeat center center;
		  z-index: -2;
		  background-size: 320px !important;
		  opacity: .1;
		  position: fixed;
		  width: 100%;
		  top:0;
		  left:0;
		  right:0;
		/*  height: 350px;*/ /*same height as jumbotron */
		}

		.history{
			background: url('../../images/basic_spread_text.svg') no-repeat center center;
			z-index: -2;
			background-size: 240px !important;
			opacity: .9;
			height: 100%;
			width: 100%;
			position: absolute;
			background-position-y: 3% !important;
		}

		.future{
			background: url('../../images/basic_eye.svg') no-repeat center center;
			z-index: -2;
			background-size: 240px !important;
			opacity: .35;
			height: 100%;
			width: 100%;
			position: absolute;
			background-position-y: 2% !important;
		}

		.podium{
			background: url('../../images/basic_display.svg') no-repeat center center;
			z-index: -2;
			background-size: 150px !important;
			opacity: .45;
			height: 100%;
			width: 100%;
			position: absolute;
			background-position-y: 6% !important;
		}

		.pickle{
			background: url('../../images/basic_signs.svg') no-repeat center center;
			z-index: -2;
		  background-size: 180px !important;
		  opacity: .75;
		  height: 100%;
		  width: 100%;
		  position: absolute;
		  background-position-y: 3% !important;
		}

		.pickleUX{
			padding-left: 50px !important;
			padding-top: 20px !important;
		}

		.newco {
			background: url('../../images/basic_multiscreen.svg') no-repeat center center;
			z-index: -2;
			background-size: 280px !important;
			opacity: 1;
			height: 100%;
			width: 100%;
			position: absolute;
			background-position-y: 3% !important;
		}

		.controls-column-center {
			top: 422px !important;
			position: fixed;
			height: 100%;
			width: 100%;
			z-index: 1000000;
			left:0;
			right:0;
		}

		.next-prev svg {
			width:60px !important;
		}

		.next-prev:hover {
			opacity: 1 !important;
		}

		.next-prev:active{
			opacity: .5 !important;
		}

		.scroll-down{
			top: 0px !important;
			padding-top: 11% !important; 
		}

		.projectNum {
		  position: fixed;
		  right: 30px !important;
		  top: 35% !important;
		}

		.about-container{
			padding-top:200px;
			max-width: 90%;
			margin:0 auto;
		}

		.about-container h3{
			font-size:16px !important;
		}

		.scrollTopButtonOn {
		  	background: url('../../images/scrollTop-01.svg') no-repeat;
	    	-webkit-transition: all 1s;
	   		transition: all 1s;
	    	position: fixed;
			bottom: 20px;
			right: 20px !important;
			width: 50px !important;
			height: 50px !important;
			z-index: 9999999999999; 
		}

	.scrollTopButtonOn:active{
		opacity:.25;
		cursor: pointer;
	}

	.scrollTopButtonOn-add {
		background: url('../../images/scrollTop-01.svg') no-repeat;
		opacity:0;
		position: fixed;
	  	bottom: 20px;
		right: 20px !important;
		width: 50px !important;
		height: 50px !important;
		-webkit-transform: translate3d(0,-200,0);
		transform: translate3d(0,-200,0);
		z-index: 9999999999999;
	}

	.scrollTopButtonOn-add-active{
		background: url('../../images/scrollTop-01.svg') no-repeat;
		position: fixed;
		bottom: 20px;
		right: 20px !important;
		width: 50px !important;
		height: 50px !important;
		opacity:1;
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		z-index: 9999999999999;
	}
}

/*iPad*/
@media screen 
and (min-width : 768px) 
and (max-width : 1024px) { 
		.nav {
			padding-left:30px;
		}

		.nav>li {
		  position: relative;
		  display: inline-block;
		}

		.jumbotron h1 {
			font-size: 70px !important;
		}

		.title-invert{
			font-family: UrbanoExtraCond;
			font-size: 140px;
			margin: 0 auto;
			letter-spacing: 11px;
			text-align:center;
			max-width:80% !important;
			position: absolute;
			top: 240px !important;
			left: 0;
			right: 0;
			color:rgb(68, 68, 68) !important;
		}

		.subtitle-invert {
			font-family: 'ArcherProLightItalic';
			font-size: 20px;
			font-weight: 100;
			font-style: italic;
			letter-spacing: 1px;
			color:white;
			margin:0 auto;
			position: absolute;
			top: 480px !important;
			left: 0;
			right: 0;
			text-align: center;
			color:rgb(68, 68, 68);
		}

		.main-title{
			padding-top:50px;
			font-family: UrbanoExtraCond;
			margin: 0 auto;
		  	letter-spacing: 11px;
		  	width: 100%;
		  	text-align:center;
			color:rgb(68, 68, 68) !important;
		}	

		.title {
			font-family: UrbanoExtraCond;
			font-size: 140px;
			margin: 0 auto;
			color: white !important;
			letter-spacing: 11px;
			text-align:center;
			max-width:80% !important;
			position: absolute;
			top: 240px !important;
			left: 0;
			right: 0;
		}

		.subtitle {
			font-family: 'ArcherProLightItalic';
			font-size: 20px;
			font-weight: 100;
			font-style: italic;
			letter-spacing: 1px;
			color:white;
			margin:0 auto;
			position: absolute;
			top: 480px !important;
			left: 0;
			right: 0;
			text-align: center;
		}

		.badge{
			display: inline-block;
			min-width: 10px;
			padding: 5px 11px;
			font-size: 10px;
			font-weight: 100;
			font-style: italic;
			line-height: 1;
			color: #fff;
			width: 100px;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			background-color: #777;
			border-radius: 10px;
			position: absolute;
			margin:0 auto;
			top: 520px !important;
			left: 0;
			right: 0;
			transition:.25s background;
		}

		.badge-about{
			top:350px !important;
		}

		.badge-home{
			top: 47% !important;
		}	

		#logo{
			background: url('../../images/ap-logo.svg') no-repeat center center;
		  z-index: -2;
		  background-size: 320px !important;
		  opacity: .1;
		  position: fixed;
		  width: 100%;
		  top:0;
		  left:0;
		  right:0;
		}

		.history{
			background: url('../../images/basic_spread_text.svg') no-repeat center center;
		  z-index: -2;
		  background-size: 340px !important;
		  opacity: .9;
		  height: 100%;
		  width: 100%;
		  position: absolute;
		  background-position-y: 2.5% !important;
		}

		.future{
			background: url('../../images/basic_eye.svg') no-repeat center center;
			z-index: -2;
			background-size: 340px !important;
			opacity: .35;
			height: 100%;
			width: 100%;
			position: absolute;
			background-position-y: 1.5% !important;
		}

		.podium{
			background: url('../../images/basic_display.svg') no-repeat center center;
			z-index: -2;
		  background-size: 240px !important;
		  opacity: .45;
		  height: 100%;
		  width: 100%;
		  position: absolute;
		  background-position-y: 5% !important;
		}

		.pickle{
			background: url('../../images/basic_signs.svg') no-repeat center center;
			z-index: -2;
		  background-size: 240px !important;
		  opacity: .75;
		  height: 100%;
		  width: 100%;
		  position: absolute;
		  background-position-y:3.5% !important;
		}

		.newco {
			background: url('../../images/basic_multiscreen.svg') no-repeat center center;
			z-index: -2;
		  background-size: 380px !important;
		  opacity: 1;
		  height: 100%;
		  width: 100%;
		  position: absolute;
		  background-position-y: 2% !important;
		}

		.controls-column-center {
			top: 550px !important;
			position: fixed;
			height: 100%;
			width: 100%;
			z-index: 1000000;
			left:0;
			right:0;
		}

		.next-prev svg {
			width:60px !important;
		}

		.next-prev:hover {
			opacity: 1 !important;
		}

		.next-prev:active{
			opacity: .5 !important;
		}

		.scroll-down{
			top: 0px !important;
			padding-top: 5% !important; 
		}

		.projectNum {
		  position: fixed;
		  right: 49px !important;
    	top: 43% !important;
    	-webkit-appearance: none;
		}

		.projectNum li a {
			left: 20px !important;
		 	margin-top: -7px !important;
		}
}

/* ----------- Laptop Retina Screens ----------- */
@media screen 
  and (min-width: 1200px) 
  and (max-width: 1440px) { 

  	.nav {
			padding-left:30px;
		}

		.nav>li {
		  position: relative;
		  display: inline-block;
		}

		.jumbotron h1 {
			font-size: 90px !important;
		}

		.title-invert{
			font-family: UrbanoExtraCond;
			font-size: 140px;
		  margin: 0 auto;
		  letter-spacing: 11px;
		  text-align:center;
		  max-width:58% !important;
			position: absolute;
			top: 240px !important;
			left: 0;
			right: 0;
			color:rgb(68, 68, 68) !important;
		}

		.subtitle-invert {
			font-family: 'ArcherProLightItalic';
			font-size: 20px;
			font-weight: 100;
			font-style: italic;
			letter-spacing: 1px;
			color:white;
			margin:0 auto;
		  position: absolute;
		  top: 550px !important;
		  left: 0;
		  right: 0;
		  text-align: center;
			color:rgb(68, 68, 68);
		}

		.main-title{
			padding-top:50px;
			font-family: UrbanoExtraCond;
			margin: 0 auto;
		  letter-spacing: 11px;
		  width: 100%;
		  text-align:center;
			color:rgb(68, 68, 68) !important;
		}	

		.title {
			font-family: UrbanoExtraCond;
			font-size: 140px;
		  margin: 0 auto;
		  color: white !important;
		  letter-spacing: 11px;
		  text-align:center;
		  max-width:58% !important;
			position: absolute;
			top: 240px !important;
			left: 0;
			right: 0;
		}

		.subtitle {
			font-family: 'ArcherProLightItalic';
			font-size: 20px;
			font-weight: 100;
			font-style: italic;
			letter-spacing: 1px;
			color:white;
			margin:0 auto;
		  position: absolute;
		  top: 480px !important;
		  left: 0;
		  right: 0;
		  text-align: center;
		}

		.badge{
			display: inline-block;
			min-width: 10px;
			padding: 5px 11px;
			font-size: 10px;
			font-weight: 100;
			font-style: italic;
			line-height: 1;
			color: #fff;
			width: 100px;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			background-color: #777;
			border-radius: 10px;
			position: absolute;
			margin:0 auto;
			top: 520px !important;
			left: 0;
			right: 0;
			transition:.25s background;
		}

		.badge-about{
			top: 303px !important;
		}

		.badge-home{
			top: 47% !important;
		}	

		#logo{
			background: url('../../images/ap-logo.svg') no-repeat center center;
		  z-index: -2;
		  background-size: 320px !important;
		  opacity: .1;
		  position: fixed;
		  width: 100%;
		  top:0;
		  left:0;
		  right:0;
		/*  height: 350px;*/ /*same height as jumbotron */
		}

		.history{
			background: url('../../images/basic_spread_text.svg') no-repeat center center;
		  z-index: -2;
		  background-size: 340px !important;
		  opacity: .9;
		  height: 100%;
		  width: 100%;
		  position: absolute;
		  background-position:50% 2% !important;
		}

		.future{
			background: url('../../images/basic_eye.svg') no-repeat center center;
			z-index: -2;
		  background-size: 340px !important;
		  opacity: .35;
		  height: 100%;
		  width: 100%;
		  position: absolute;
		  background-position:50% 1% !important;
		}

		.podium{
			background: url('../../images/basic_display.svg') no-repeat center center;
			z-index: -2;
		  background-size: 240px !important;
		  opacity: .45;
		  height: 100%;
		  width: 100%;
		  position: absolute;
		  background-position:50% 3.5% !important;
		}

		.pickle{
			background: url('../../images/basic_signs.svg') no-repeat center center;
			z-index: -2;
		  background-size: 240px !important;
		  opacity: .75;
		  height: 100%;
		  width: 100%;
		  position: absolute;
		  background-position:50% 3.5% !important;
		}

		.newco {
			background: url('../../images/basic_multiscreen.svg') no-repeat center center;
			z-index: -2;
		  background-size: 380px !important;
		  opacity: 1;
		  height: 100%;
		  width: 100%;
		  position: absolute;
		  background-position:50% 2% !important;
		}

		.controls-column-center {
			top: 600px !important;
			position: fixed;
			height: 100%;
			width: 100%;
			z-index: 1000000;
			left:0;
			right:0;
		}

		.next-prev svg {
			width:60px !important;
		}

		.scroll-down{
			top: 0px !important;
			padding-top: 5% !important;
		}

		.projectNum {
		  position: fixed;
		  right: 50px !important;
		  top: 45% !important;
		}	

		.profile {
		    border-radius: 150px;
		    top: 50px !important;
		    width: 190px;
		    margin-bottom: 40px;
		    position: relative;
		}	
}


body {
	font-family: 'ArcherProBook';
	color: black;
	font-size: 16px;
	background-color: rgb(240, 240, 240);
	overflow-x: hidden;
	transition:1s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

li { 
	list-style:none;
}

.slant{
	width: 100%;
	position: fixed;
	top: -590px;
	z-index: -100;
	height: 230%;
}

.controls-column-center {
	top: 960px;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1000000;
	left:0;
	right:0;
}

.newcoControls {
	-webkit-filter:invert(1);
	filter:invert(1);
}

.next-prev {
	 transition:.5s all;
}

.next-prev:hover {
	 opacity: .5;
	 cursor:pointer;
}

.next-prev svg {
	width:80px;
}

.next{
	float:left;
}

.prev{
	float:right;
}

#bg{
	background: url('../../images/historyofinnovation.png') no-repeat left center;
	width: 90%;
	height: 780px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -2;
	background-size: 1440px;
	background-position: 0 0px;
	background-size: cover;
	-ms-transform: scale(1.25);
	-webkit-transform: scale(1.25);
	transform: scale(1.25);
}

#logo{
	background: url('../../images/ap-logo.svg') no-repeat center center;
	z-index: -2;
	background-size: 380px;
	opacity: .1;
	position: fixed;
	width: 100%;
	/*  height: 350px;*/ /*same height as jumbotron */
}

.history{
	background: url('../../images/basic_spread_text.svg') no-repeat center center;
	background-repeat: no-repeat;
	background-position: center center;
	z-index: -2;
	background-size: 480px;
	opacity: .9;
	height: 100%;
	width: 100%;
	position: absolute;
	background-position: 50% 5%;
}

.future{
	background: url('../../images/basic_eye.svg') no-repeat center center;
	z-index: -2;
	background-size: 480px;
	opacity: .5;
	height: 100%;
	width: 100%;
	position: absolute;
	background-position: 50% 3%;
}

.podium{
	background: url('../../images/basic_display.svg') no-repeat center center;
	z-index: -2;
	background-size: 320px;
	opacity: .45;
	height: 100%;
	width: 100%;
	position: absolute;
	background-position: 50% 8.85%;
}

.pickle{
	background: url('../../images/basic_signs.svg') no-repeat center center;
	z-index: -2;
	background-size: 320px;
	opacity: .5;
	height: 100%;
	width: 100%;
	position: absolute;
	background-position: 50% 9%;
}

.picklePhone{
	width:300px;
}

.pickleUX{
	padding-left: 120px;
	padding-top: 60px;
}

.newco {
	background: url('../../images/basic_multiscreen.svg') no-repeat center center;
	z-index: -2;
	background-size: 480px;
	opacity: 1;
	height: 100%;
	width: 100%;
	position: absolute;
	background-position: 50% 5.5%;
}

.title {
	font-family: UrbanoExtraCond;
	font-size: 140px;
	margin: 0 auto;
	color: white !important;
	letter-spacing: 11px;
	width: 1020px;
	text-align:center;
	position: absolute;
	top: 550px;
	left: 0;
	right: 0;
}

.subtitle {
	font-family: 'ArcherProLightItalic';
	font-size: 20px;
	font-weight: 100;
	font-style: italic;
	letter-spacing: 1px;
	color:white;
	margin:0 auto;
	position: absolute;
	top: 870px;
	left: 0;
	right: 0;
	text-align: center;
}

.badge{
	display: inline-block;
	min-width: 10px;
	padding: 5px 11px;
	font-size: 12px;
	font-weight: 100;
	font-style: italic;
	line-height: 1;
	color: #fff;
	width: 100px;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #777;
	border-radius: 10px;
	position: absolute;
	margin:0 auto;
	top: 920px;
	left: 0;
	right: 0;
	transition:.25s background;
	-webkit-animation-delay:.45s;
}

.badge:hover {
	background: rgb(255, 184, 0);
	cursor: pointer;
}

.badge-about{
	top: 491px;
	z-index: 999999999;
}

.badge-home{
	top: 48%;
}

.jumbotron {
	background: none !important;
}

.jumbotron h1 {
	font-size: 140px;
}

.title-invert{
	font-family: UrbanoExtraCond;
	font-size: 140px;
  margin: 0 auto;
  letter-spacing: 11px;
  width: 1080px;
  text-align:center;
	position: absolute;
	top: 550px;
	left: 0;
	right: 0;
	color:rgb(68, 68, 68) !important;
}

.subtitle-invert {
	font-family: 'ArcherProLightItalic';
	font-size: 20px;
	font-weight: 100;
	font-style: italic;
	letter-spacing: 1px;
	color:white;
	margin:0 auto;
  position: absolute;
  top: 870px;
  left: 0;
  right: 0;
  text-align: center;
	color:rgb(68, 68, 68);
}

.main-title{
	font-family: UrbanoExtraCond;
	margin: 0 auto;
  letter-spacing: 11px;
  width: 100%;
  text-align:center;
	color:rgb(68, 68, 68) !important;
}

.grey{
	background:rgb(51, 51, 51);
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.black{
	background:black;
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.purple{
	background:#5F6F81;
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.green{
	background:rgb(101, 198, 187);
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.white{
	background:white;
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.navbar a {
	color:black;
	font-family: 'ArcherProBook';
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}


.historyInvert {
	background: #333333;
}

.historyInvert a {
	color:white;
}

.historyInvert .navbar-brand {
	-webkit-filter: invert(1);
	filter: invert(1);
}

.futureInvert {
	background: black;
}

.futureInvert a{
	color:white;
}

.futureInvert .navbar-brand {
	-webkit-filter: invert(1);
	filter: invert(1);
}

.podiumInvert {
	background: #5F6F81;
}

.podiumInvert a{
	color:white;
}

.podiumInvert .navbar-brand {
	-webkit-filter: invert(1);
	filter: invert(1);
}

.pickleInvert {
	background: #65C6BB;
}

.pickleInvert a{
	color:white;
}

.pickleInvert .navbar-brand {
	-webkit-filter: invert(1);
	filter: invert(1);
}

.newcoInvert {
	background: white;
}

.newcoInvert a{
	color:black;
}

svg {
	transition: .5s all;
	width: 50px;
}

.navbar-nav>li>a {
  line-height: 43px;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: rgba(0,0,0,0);
}

.navbar-brand{
	background: url('../../images/ap-logo-01.svg') no-repeat;
	width: 100px;
	background-position: 80% 0;
	margin-top: 15px;
}

.navbar-brand:hover {
	text-decoration: none;
 	background-color: rgba(0,0,0,0);
}

.navbar a:hover {
	color:gray;
}

.aboutNav{
	background-color: #f0f0f0;
}

.about{
	font-family: 'ArcherProBook';
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #444444;
    margin: 0 auto;
    line-height: 20px;
    position: relative;
    padding-top:60px;
}

.navbar {
  font-size: 14px;
  font-weight: 100;  
  z-index: 100000000000000;
  transition:1s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 14px;
  font-weight: 100; 
  line-height: 20px;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.presentation-wrapper {
    height: 100%;
    min-height: 100%;
    position: relative;
}

.row-center{
	position: relative;
  height: 100%;
}

.column-center{
	position: relative;
  height: 100%;
}

.wrapper img{
	position: absolute;
	width: 100%;
	z-index: -1;
}

.profile{
	border-radius: 150px;
	top: 330px;
	width: 190px;
	margin-bottom: 40px;
}

.slide {
	position: relative;
	margin:0 auto;
	width: 100%;
 	height: 100%;
}

.slide.ng-enter,
.slide.ng-leave {
	-webkit-transition: 1.1s cubic-bezier(0.075, 0.82, 0.165, 1) all;
	transition: 1.1s cubic-bezier(0.075, 0.82, 0.165, 1) all;
	opacity:0;
}

.slide.ng-enter {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	opacity:0;
}
.slide.ng-leave.ng-leave-active {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	opacity:1;
}
.back.slide.ng-enter {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	opacity:1;
}
.back.slide.ng-leave.ng-leave-active {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	opacity:1;
}
.slide.ng-leave,
.slide.ng-enter.ng-enter-active {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	opacity:1;
}

.projectNum {
  position: fixed;
  right: 60px;
  top: 50%;
}

.projectNum li {
  background: #444;
  display: block;
  border-radius: 100px;
  height: 20px;
  width: 20px;
  font-family: 'ArcherProBook';
  text-align: center;
  margin-bottom:5px;
  transition:.25s all;
}

.projectNum li a {
	color: white;
	position: relative;
	text-decoration: none;
	font-size: 10px;
	display: block; 
	width: 100%; 
	height: 100%;
	padding: 10px 20px 10px 20px;
	left: -12px;
    top: -7px;
}

.projectNum li:hover{
	background:gray;
}

.projectNum li a:focus{
	color: rgb(255, 184, 0);
  	outline: none;
}

.projectNum li a span {
	position: absolute;
    pointer-events: none;
	bottom: -16px;
	left: -80px;
	opacity: 0;
	transition: all 0.5s cubic-bezier(.55,0,.1,1);
	 -ms-transform: translate(-70px,-10px); /* IE 9 */
   	-webkit-transform: translate(-70px,-10px); /* Safari */
    transform: translate(-70px,-10px);
    transform-origin:right top;
}

.projectNum li:nth-child(1):hover span {
	text-decoration: none;
    opacity:1;
     -ms-transform: translate(0px,-10px); /* IE 9 */
   	-webkit-transform: translate(0px,-10px); /* Safari */
    transform: translate(0px,-10px);
}

.projectNum li:nth-child(2):hover span {
	text-decoration: none;
    opacity:1;
     -ms-transform: translate(48px,-10px); /* IE 9 */
   	-webkit-transform: translate(48px,-10px); /* Safari */
    transform: translate(48px,-10px);
}

.projectNum li:nth-child(3):hover span {
	text-decoration: none;
    opacity:1;
     -ms-transform: translate(70px,-10px); /* IE 9 */
   	-webkit-transform: translate(70px,-10px); /* Safari */
    transform: translate(70px,-10px);
}

.projectNum li:nth-child(4):hover span {
	text-decoration: none;
    opacity:1;
     -ms-transform: translate(79px,-10px); /* IE 9 */
   	-webkit-transform: translate(79px,-10px); /* Safari */
    transform: translate(79px,-10px);
}

.projectNum li:nth-child(5):hover span {
	text-decoration: none;
    opacity:1;
     -ms-transform: translate(28px,-10px); /* IE 9 */
   	-webkit-transform: translate(28px,-10px); /* Safari */
    transform: translate(28px,-10px);
}

.projectNum li a span:after {
    background: #434343;
    border-radius: .4em;
    bottom: -.25em;
    color: white;
    font-style: italic;
    content: attr(title);
    left: -6em;
    padding: .2em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 98;
    font-size: 12px;
}

.focus{
	color: rgb(255, 184, 0) !important;
  outline: none;
}

#project1{
	-webkit-animation-delay: .75s;
}

#project2{
	-webkit-animation-delay: .85s;
}

#project3{
	-webkit-animation-delay: .95s;
}

#project4{
	-webkit-animation-delay: 1s;
}

#project5{
	-webkit-animation-delay: 1.05s;
}

#linkedin{
	-webkit-animation-delay: .65s;
	-webkit-animation-duration:1s;
}

#behance{
	-webkit-animation-delay: .75s;
	-webkit-animation-duration:1s;

}

#dribbble{
	-webkit-animation-delay: .85s;
	-webkit-animation-duration:1s;

}

#codepen{
	-webkit-animation-delay: .95s;
	-webkit-animation-duration:1s;

}

#github{
	-webkit-animation-delay: 1s;
	-webkit-animation-duration:1s;

}

.text-rotator {
  padding: 2em;
  font-family: 'ArcherProBook';
	font-size: 20px;
	font-weight: 100;
	font-style: italic;
	letter-spacing: 1px;
	color:rgb(68, 68, 68);
	margin:0 auto;
	text-align:center;
}

.text-rotator span {
  float: left;
  overflow: hidden;
  position: relative;
  height: 22px;
  top: 0;
}

.text-rotator .innerTextRotator {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  opacity:0; 

/*animation*/
-webkit-animation:move 10s cubic-bezier(.55,0,.1,1);
   -moz-animation:move 10s cubic-bezier(.55,0,.1,1);
    -ms-animation:move 10s cubic-bezier(.55,0,.1,1);
     -o-animation:move 10s cubic-bezier(.55,0,.1,1);
        animation:move 10s cubic-bezier(.55,0,.1,1);
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}

.socialLinks{
	display:inline-block;
	padding:0;
}

.socialLinks li{
	display:inline;
	transition:.5s all;
}

.socialLinks img {
	display:inline;
	width: 40px;
}

.socialLinks li:hover{
	opacity:.5;
}

.scroll-down{
	padding-top:7%;
}

#primary-project-content{
	padding-bottom:20px;
	position: relative;
	z-index: 100000000;
}

.pattern{
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0tMiAxMEwxMCAtMlpNMTAgNkw2IDEwWk0tMiAyTDIgLTIiIHN0cm9rZT0iIzIyMiIgc3Ryb2tlLXdpZHRoPSI0LjUiPjwvcGF0aD4KPC9zdmc+"),url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImciIHgyPSIxIiB5Mj0iMSI+CjxzdG9wIHN0b3AtY29sb3I9IiM2NjYiPjwvc3RvcD4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmIj48L3N0b3A+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZykiPjwvcmVjdD4KPC9zdmc+");	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#project-canvas-history{
	z-index: 100000000;
	position: relative;
	background-color: #333333;
}

#project-canvas-future{
	z-index: 100000000;
	position: relative;
	background-color: black;
}

#project-canvas-podium{
	z-index: 100000000;
	position: relative;
	background-color: #5F6F81;
}

#project-canvas-pickle{
	z-index: 100000000;
	position: relative;
	background-color: #65C6BB;
}

#project-canvas-newco{
	z-index: 100000000;
	position: relative;
	background-color: white;
}

.futureText{
	color:white;
}

.scrollTopButtonOn {
	  background: url('../../images/scrollTop-01.svg') no-repeat;
    -webkit-transition: all 1s;
    transition: all 1s;
    position: fixed;
    bottom: 20px;
    right: 50px;
    width: 50px;
    height: 50px;
    z-index: 9999999999999;
}

.scrollTopButtonOn:hover{
	opacity:.25;
	cursor: pointer;
}

.scrollTopButtonOn-add {
	background: url('../../images/scrollTop-01.svg') no-repeat;
	opacity:0;
	position: fixed;
  bottom: 20px;
  right: 50px;
  width: 50px;
  height: 50px;
	-webkit-transform: translate3d(0,-200,0);
	transform: translate3d(0,-200,0);
	z-index: 9999999999999;
}

.scrollTopButtonOn-add-active{
	background: url('../../images/scrollTop-01.svg') no-repeat;
	position: fixed;
  bottom: 20px;
  right: 50px;
  width: 50px;
  height: 50px;
	opacity:1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	z-index: 9999999999999;
}

@keyframes move{
	0%  { top: 100px; opacity:0;}
	5%  { top: 0px; opacity:1;}
	30% { top: -45px; opacity:1;}
	50% { top: -90px; opacity:1;}
	70% { top: -135px; opacity:1;}
	90% { top: -175px; opacity:1;}
	95% { top: -190px; opacity:0;}
}

@-webkit-keyframes move {
    0%  { top: 45px; opacity:0;}
		5%  { top: 0px; opacity:1;}
    10%  { top: 0px; opacity:1;}
    30% { top: -45px; opacity:1;}
    50% { top: -90px; opacity:1;}
    70% { top: -135px; opacity:1;}
    90% { top: -175; opacity:1;}
    95% { top: -190px; opacity:0;}
}
@-moz-keyframes move {
  	0%  { top: 45px; opacity:0;}
	5%  { top: 0px; opacity:1;}
    10%  { top: 0px; opacity:1;}
    30% { top: -45px; opacity:1;}
    50% { top: -90px; opacity:1;}
    70% { top: -135px; opacity:1;}
    90% { top: -175; opacity:1;}
    95% { top: -190px; opacity:0;}
}
@-o-keyframes move {
  	0%  { top: 45px; opacity:0;}
		5%  { top: 0px; opacity:1;}
    10%  { top: 0px; opacity:1;}
    30% { top: -45px; opacity:1;}
    50% { top: -90px; opacity:1;}
    70% { top: -135px; opacity:1;}
    90% { top: -175; opacity:1;}
    95% { top: -190px; opacity:0;}
}
@keyframes move {
  	0%  { top: 45px; opacity:0;}
		5%  { top: 0px; opacity:1;}
    10%  { top: 0px; opacity:1;}
    30% { top: -45px; opacity:1;}
    50% { top: -90px; opacity:1;}
    70% { top: -135px; opacity:1;}
    90% { top: -175px; opacity:1;}
    95% { top: -190px; opacity:0;}
}


@-webkit-keyframes bounce {
  0%{
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  0%{
    -webkit-animation-timing-function: ease-out;
    animation-timing-function:ease-out;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function:ease-in;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@-moz-keyframes bounce {
  0%{
    -moz-animation-timing-function: ease-out;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40% {
	-moz-animation-timing-function: ease-out;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -moz-animation: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  moz-animation-transform-origin:center bottom;
}







