@import 'vars';
@import 'typography';

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
  padding: $half-space;
}

li{
	list-style:none;
}

.slide {
  position: absolute;
  width: 100%;
}

.slide.ng-enter,
.slide.ng-leave {
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

.slide.ng-enter {
  -webkit-transform: translate3d(100%, 0, 0);
}
.slide.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
}
.back.slide.ng-enter {
  -webkit-transform: translate3d(-100%, 0, 0);
}
.back.slide.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
}
.slide.ng-leave,
.slide.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}
