
	<div class="row about-container">
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 vertical-center">
				<img class="profile" src="images/profilepic.jpg"/>
				<a href="mailto:adam.perlis@gmail.com?subject=Hi Adam" target="_blank" class="badge badge-about">Contact Me</a>
				<h3 class="about">
				<strong>ABOUT:</strong>
				<hr style="border-top:1px solid lightgray; margin-top:5px !important;">
				Adam Perlis oversaw the redesign of TIME, Fortune and Money.com, as well as leading
				creative teams at AT&T, NBC Sports & Olympics and several other Fortune 500 companies, he is uniquely qualified to lead teams to success. His award winning work has been featured on
				Awwwards, The FWA, and TechCrunch. Working as both a designer and developer his diverse skill set
				includes UX/UI design, front-end and back-end development, 2D &amp; 3D motion graphics, and video
				production. He was a Speaker at SXSW 17', Web Summit '16 and Tech Open Air '16. His upcoming speakerships
				include Fifteen Second Festival. He also serves as a guest
				lecturer/instructor at General Assembly, where he is a Design Thinking evangelist. 
				</br></br>
				</br>
				<strong>AWARDS & HONORS:</strong>
				<hr style="border-top:1px solid lightgray; margin-top:5px !important;">
				
				Web Summit 2016 (Lisbon) Speaker:	</br>
				<strong><a style="text-decoration: none; color:black;" href='https://vimeo.com/196092021' target="_blank">"UX ≠ UI" (video)</a></strong>
				</br></br>

				<strong><a style="text-decoration: none; color:black;" href='https://vimeo.com/195975494' target="_blank">"Is UX an opiate for the masses?" (video)</a></strong>
				</br></br>

				Tech Open Air 2016 (Berlin) Speaker:	</br>
				<strong><a style="text-decoration: none; color:black;" href='https://vimeo.com/192530989' target="_blank">"A Design Sprint to the Finish: Solving Design/UX Problems Fast" (video)</a></strong>
				</br></br>

				Guest Lecturer @ General Assembly</br></br>

				<strong><a style="text-decoration: none; color:black;" href="http://www.awwwards.com/adamperlis/" target="_blank">Awwwards.org</a></strong> Site of the Day Honorable Mention winner.</br></br>

				TechCrunch Disrupt 2014 Hackathon winner.</br></br> 

				Member of the Emmy Award winning NBC Olympics production team.</br></br>
				</br>
				<strong>PRESS:</strong>
				<hr style="border-top:1px solid lightgray; margin-top:5px !important;">
				<a style="text-decoration: none; color:black;" href='https://toa.life/time-waits-for-no-man-stay-curious-be-intrepid-and-make-your-own-luck-6fefa3eb9a2b#.1lemylfwf' target="_blank"><strong>Interview with TOA.life</strong></a>
				<br></br>

				</br>
				<strong>SKILLS:</strong>
				<hr style="border-top:1px solid lightgray; margin-top:5px !important;">
				Sketch, Photoshop, Illustrator, InDesign, InVision, UXPin, Origami, React, Angular, HTML5, CSS, Javascript, jQuery, Processing, Ruby on Rails, NodeJS, Adobe Premiere, Final Cut, After Effects, Cinema4D, Powerpoint, Keynote, Excel, Photography, Cinematography.
				</h3>
				<ul class="socialLinks" style="padding-top:30px">
		 			<li><a href='https://www.linkedin.com/in/adamperlis' target="_blank"><img id="linkedin" class='animated fadeInUp' src="/images/logo-linkedin.svg"/></a></li>
		 			<li><a href='https://www.behance.net/adamperlis9036' target="_blank"><img id="behance" class='animated fadeInUp' src="/images/logo-behance.svg"/></a></li>
		 			<li><a href='https://dribbble.com/adamperlis' target="_blank"><img id="dribbble" class='animated fadeInUp' src="/images/logo-dribbble.svg"/></a></li>
		 			<li><a href='http://codepen.io/dam4222/' target="_blank"><img id="codepen"class='animated fadeInUp' src="/images/logo-codepen.svg"/></a></li>
		 			<li><a href='https://github.com/dam4222' target="_blank"><img id="github" class='animated fadeInUp' src="/images/logo-github.svg"/></a></li>
		 		</ul>
			</div>
		</div>
	</div>

