
	<div class="row">
		<div class="container">
			<div class="col-xs-12 vertical-center">
				<img class="profile" src="images/profilepic.jpg"/>
				<h3 class="about text-center">
				Adam Perlis currently resides in Williamsburg, Brooklyn. He enjoys a smokey bourbon, La Colombe iced-coffee and playing soccer.</br></br>

				Awwwards.org Site of the Day Honorable Mention winner.</br></br>

				TechCrunch Disrupt 2014 Hackathon winner.</br></br> 

				Part of the Emmy Award winning NBC Olympics production team.</br></br>

				Specialties: Final Cut, Adobe Premiere, After Effects, Cinema4D, Photoshop, Illustrator, InDesign, Ruby on Rails, NodeJS, AngularJS, HTML5, CSS, Javascript, jQuery, Processing, Powerpoint, Keynote, Excel, Photography, Cinematography.
				</h3>
			</div>
		</div>
	</div>

