
	<div class="row about-container">
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 vertical-center">
				<a href="mailto:adam.perlis@gmail.com?subject=Hi Adam" target="_blank" class="badge badge-about">Contact Me</a>
				<img class="profile" src="images/profilepic.jpg"/>
				<h3 class="about">
				<strong>ABOUT:</strong>
				<hr style="border-top:1px solid lightgray; margin-top:5px !important;">
				Adam Perlis is an award-winning Design/UX expert and speaker. He currently resides in Williamsburg, Brooklyn where he enjoys a smokey bourbon, La Colombe iced-coffee and playing soccer.</br></br>
				</br>
				<strong>AWARDS:</strong>
				<hr style="border-top:1px solid lightgray; margin-top:5px !important;">
				
				Tech Open Air 2016 (Berlin) Speaker:	</br>
				"A Design Sprint to the Finish: Solving Design/UX Problems Fast"
				http://toa.berlin/conference/#adam-perlis</br></br>

				Guest Lecturer @ General Assembly</br></br>

				Awwwards.org Site of the Day Honorable Mention winner.</br></br>

				TechCrunch Disrupt 2014 Hackathon winner.</br></br> 

				Part of the Emmy Award winning NBC Olympics production team.</br></br>
				</br>
				<strong>SKILLS:</strong>
				<hr style="border-top:1px solid lightgray; margin-top:5px !important;">
				Sketch, Photoshop, Illustrator, InDesign, React, Angular, HTML5, CSS, Javascript, jQuery, Processing, Ruby on Rails, NodeJS, Adobe Premiere, Final Cut, After Effects, Cinema4D, Powerpoint, Keynote, Excel, Photography, Cinematography.
				</h3>
				<ul class="socialLinks" style="padding-top:30px">
		 			<li><a href='https://www.linkedin.com/in/adamperlis' target="_blank"><img id="linkedin" class='animated fadeInUp' src="/images/logo-linkedin.svg"/></a></li>
		 			<li><a href='https://www.behance.net/adamperlis9036' target="_blank"><img id="behance" class='animated fadeInUp' src="/images/logo-behance.svg"/></a></li>
		 			<li><a href='https://dribbble.com/adamperlis' target="_blank"><img id="dribbble" class='animated fadeInUp' src="/images/logo-dribbble.svg"/></a></li>
		 			<li><a href='http://codepen.io/dam4222/' target="_blank"><img id="codepen"class='animated fadeInUp' src="/images/logo-codepen.svg"/></a></li>
		 			<li><a href='https://github.com/dam4222' target="_blank"><img id="github" class='animated fadeInUp' src="/images/logo-github.svg"/></a></li>
		 		</ul>
			</div>
		</div>
	</div>

