<div class="vertical-center">
    <h1 class="title">ADAM PERLIS</h1>
    &nbsp; ~
    <h3 class="text-rotator subtitle">
	  	<div id="skill0" class="fadeInUpOut">
	    	Creative Director
	    </div>
	    <br /> 
	    <div id="skill1" class="fadeInUpOut">
	    	Developer
	    </div>
	    <br /> 
	    <div id="skill2" class="fadeInUpOut">
	    	Designer
	    </div>
	    <br /> 
	    <div id="skill3" class="fadeInUpOut">
	    	Producer
	    </div>
	    <br /> 
	    <div id="skill4" class="fadeInUpOut">
	    	Motion Artist
	    </div>
	    <br /> 
	    <div id="skill5" class="fadeInUpOut">
	    	Writer
	    </div>
	    <br /> 
	    <div id="skill6" class="fadeInUpOut">
	    	TechCrunch Disrupt Winner
	    </div>
	    <br /> 
	    <div id="skill7" class="fadeInUpOut">
	    	AWWWARDS Honorable Mention
	    </div>
	</h3>
	&nbsp; ~
    <h3 class="subtitle">~ &nbsp; Creative Director / Developer / Designer / Producer &nbsp; ~</h3>
</div>
<section> 
	<div ng-controller="BehanceCtrl">

		<ul>
		  <li ng-repeat="image in images">
		    <img src="{{ images.project.modules[0].src }}"/>
		  </li>
		</ul>
	        
	</div>
</section>

