<div id="logo" class="img-responsive vertical-center"></div>
<div class="jumbotron vertical-center">
		<h1 class="main-title animated fadeInUp">ADAM PERLIS</h1>
    <h3 class="text-rotator" style="color:rgb(68, 68, 68)">
	  	<span>
			  <div class="innerTextRotator">
			    Creative Director<br/><br/> 
			    Designer<br/><br/>
			    Developer<br/><br/>
			    UI/UX<br/><br/>
			    Motion Graphics<br/><br/>
			    </div>
			</span>
		</h3>
    
 		<ul class="socialLinks">
 			<li><a href='https://www.linkedin.com/in/adamperlis' target="_blank"><img id="linkedin" class='animated fadeInUp' src="/images/logo-linkedin.svg"/></a></li>
 			<li><a href='https://www.behance.net/adamperlis9036' target="_blank"><img id="behance" class='animated fadeInUp' src="/images/logo-behance.svg"/></a></li>
 			<li><a href='https://dribbble.com/adamperlis' target="_blank"><img id="dribbble" class='animated fadeInUp' src="/images/logo-dribbble.svg"/></a></li>
 			<li><a href='http://codepen.io/dam4222/' target="_blank"><img id="codepen"class='animated fadeInUp' src="/images/logo-codepen.svg"/></a></li>
 			<li><a href='https://github.com/dam4222' target="_blank"><img id="github" class='animated fadeInUp' src="/images/logo-github.svg"/></a></li>
 		</ul>
</div>

<!-- <svg class="slant" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 612 1008" enable-background="new 0 0 612 1008" xml:space="preserve">
<polygon fill="#FFFFFF" points="612,1008 0,1008 0,424 612,304 "/>
</svg> -->

