<div class="podium" class="img-responsive vertical-center"></div>
<div class="jumbotron vertical-center">
	<h1 parallax parallax-ratio="0.4" class="title">PODIUM</h1>
	<h3 parallax parallax-ratio="0.4" class="subtitle">~ &nbsp; getpodium.com &nbsp; ~</h3>
	<a parallax parallax-ratio="0.4" href="http://www.getpodium.com" target="_blank" class="badge">Launch Site</a>

</div>
</div>


<div class="row">
<div class="container">
<div class="col-xs-12">
<div id="primary-project-content" class="project-styles">
<div id="project-canvas-podium" class="project-styles">
<hr>
<div id="project-modules">
<div id="project-spacer">
<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABXgAAAABCAYAAABkHsaZAAAAH0lEQVRYw+3DAQkAAAwEoe9f+pZjoOCqqaqqqqr67wH2oViJHh1OqwAAAABJRU5ErkJggg==">
</div>

<div class="spacer">
<div class="divider"></div>
</div>
<div class="project-module module project-module-text text align-center">
<div class="main-text">
<div style="text-align: center;"><span style="font-family:helvetica,arial,sans-serif;"><span style="color:#FFFFFF;">This is the UX/UI and Branding done for my startup Podium (</span><span class="bold"><a href="http://getpodium.com" style="color:#FFFFFF;" target="_blank"><span style="color:#FFFFFF;">http://getpodium.com</span></a></span><span style="color:#FFFFFF;">). I built this site from scratch using Ruby on Rails, HTML, Javascript and CSS. All the frontend design was also done by me as well. Hope you like it.</span></span></div>
</div>
</div>




<div class="spacer">
<div class="divider"></div>
</div>

<div class="js-project-module-image-hd project-module module image project-module-image" data-hd-src="https://m2.behance.net/rendition/pm/26606811/hd/7270fdfde3548e804924af2cc3f9cd7b.png" data-fancybox-group="gallery" href="https://m2.behance.net/rendition/pm/26606811/hd/7270fdfde3548e804924af2cc3f9cd7b.png" style="cursor: zoom-in;">
<div class="project-module-image-inner-wrap">
<picture>
<source srcset="https://m2.behance.net/rendition/pm/26606811/disp/7270fdfde3548e804924af2cc3f9cd7b.png" media="(max-width: 633px)">
<source srcset="https://m2.behance.net/rendition/pm/26606811/max_1200/7270fdfde3548e804924af2cc3f9cd7b.png" media="(min-width: 634px)">
<img src="https://m2.behance.net/rendition/pm/26606811/max_1200/7270fdfde3548e804924af2cc3f9cd7b.png">
</picture>  </div>
</div>



<div class="spacer">
<div class="divider"></div>
</div>

<div class="js-project-module-image-hd project-module module image project-module-image" data-hd-src="https://m2.behance.net/rendition/pm/26606811/hd/49261c77a7d0d1cf85be6ac36e6d51d0.png" data-fancybox-group="gallery" href="https://m2.behance.net/rendition/pm/26606811/hd/49261c77a7d0d1cf85be6ac36e6d51d0.png" style="cursor: zoom-in;">
<div class="project-module-image-inner-wrap">
<picture>
<source srcset="https://m2.behance.net/rendition/pm/26606811/disp/49261c77a7d0d1cf85be6ac36e6d51d0.png" media="(max-width: 633px)">
<source srcset="https://m2.behance.net/rendition/pm/26606811/max_1200/49261c77a7d0d1cf85be6ac36e6d51d0.png" media="(min-width: 634px)">
<img src="https://m2.behance.net/rendition/pm/26606811/max_1200/49261c77a7d0d1cf85be6ac36e6d51d0.png">
</picture>  </div>
</div>



<div class="spacer">
<div class="divider"></div>
</div>

<div class="js-project-module-image-hd project-module module image project-module-image" data-hd-src="https://m2.behance.net/rendition/pm/26606811/hd/28e8527cddeb6564c0b8ffebb66751b7.png" data-fancybox-group="gallery" href="https://m2.behance.net/rendition/pm/26606811/hd/28e8527cddeb6564c0b8ffebb66751b7.png" style="cursor: zoom-in;">
<div class="project-module-image-inner-wrap">
<picture>
<source srcset="https://m2.behance.net/rendition/pm/26606811/disp/28e8527cddeb6564c0b8ffebb66751b7.png" media="(max-width: 633px)">
<source srcset="https://m2.behance.net/rendition/pm/26606811/max_1200/28e8527cddeb6564c0b8ffebb66751b7.png" media="(min-width: 634px)">
<img src="https://m2.behance.net/rendition/pm/26606811/max_1200/28e8527cddeb6564c0b8ffebb66751b7.png">
</picture>  </div>
</div>



<div class="spacer">
<div class="divider"></div>
</div>

<div class="js-project-module-image-hd project-module module image project-module-image" data-hd-src="https://m2.behance.net/rendition/pm/26606811/hd/5bbb3bf468e872ba4537063523a8c5d3.png" data-fancybox-group="gallery" href="https://m2.behance.net/rendition/pm/26606811/hd/5bbb3bf468e872ba4537063523a8c5d3.png" style="cursor: zoom-in;">
<div class="project-module-image-inner-wrap">
<picture>
<source srcset="https://m2.behance.net/rendition/pm/26606811/disp/5bbb3bf468e872ba4537063523a8c5d3.png" media="(max-width: 633px)">
<source srcset="https://m2.behance.net/rendition/pm/26606811/max_1200/5bbb3bf468e872ba4537063523a8c5d3.png" media="(min-width: 634px)">
<img src="https://m2.behance.net/rendition/pm/26606811/max_1200/5bbb3bf468e872ba4537063523a8c5d3.png">
</picture>  </div>
</div>



<div class="spacer">
<div class="divider"></div>
</div>

<div class="js-project-module-image-hd project-module module image project-module-image" data-hd-src="https://m2.behance.net/rendition/pm/26606811/hd/4c6ee087f05951be1e15d07c48382828.png" data-fancybox-group="gallery" href="https://m2.behance.net/rendition/pm/26606811/hd/4c6ee087f05951be1e15d07c48382828.png" style="cursor: zoom-in;">
<div class="project-module-image-inner-wrap">
<picture>
<source srcset="https://m2.behance.net/rendition/pm/26606811/disp/4c6ee087f05951be1e15d07c48382828.png" media="(max-width: 633px)">
<source srcset="https://m2.behance.net/rendition/pm/26606811/max_1200/4c6ee087f05951be1e15d07c48382828.png" media="(min-width: 634px)">
<img src="https://m2.behance.net/rendition/pm/26606811/max_1200/4c6ee087f05951be1e15d07c48382828.png">
</picture>  </div>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
