  <div class="time" class="img-responsive vertical-center"></div>
  <div class="jumbotron vertical-center">
    <h1 class="title-invert">TIME, FORTUNE AND MONEY RE–DESIGN</h1>
    <h3 class="subtitle-invert">~ &nbsp; Time, Inc &nbsp; ~</h3>
    <a href="http://time.com/4216896/death-toll-syria-war-470000/?iid=sr-link1" target="_blank" class="badge">Launch Site</a>
  </div>

  <div class="row">
    <div class="container">
      <div id="primary-project-content" class="col-xs-12">
      <div id="project-canvas-time" class="project-styles text-center">

        <div class="title">The Challenge</div>
        <p><span style="font-size:14px;padding-top:50px;">To build a design architecture that could work across, TIME, Fortune and Money, while addressing the UX concerns and business goals of their respective websites.</span></p>

        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/2319a648128125.588faeeab67ce.png" srcset="https://mir-s3-cdn-cf.behance.net/project_modules/disp/2319a648128125.588faeeab67ce.png 600w,https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/2319a648128125.588faeeab67ce.png 1200w,https://mir-s3-cdn-cf.behance.net/project_modules/1400/2319a648128125.588faeeab67ce.png 1400w,https://mir-s3-cdn-cf.behance.net/project_modules/fs/2319a648128125.588faeeab67ce.png 1558w," sizes="(max-width: 1200px) 100vw, 1200px">

        <div class="title">The Problem</div>

        <p>Anecdotal information from user studies told the team that there was too much clutter on the page and distracted users from their desired goals. Additionally, the data showed that Avg page view/visit were low, as well as avg. video views/visit and time spent. To users the page style felt old and antiquated. These stories were true of all three brands.</p><p><br></p><p>Additionally, galleries are one of TIME’s most coveted&nbsp; features and though it was performing well, it lacked some basic features that our editors and users wanted. Including proper social sharing on a per image basis, photos not getting cropped by the viewport, a way to treat vertical images and a way to handle captions better.</p>

        <div class="subtitle">Before</div>

        <img style="width:90%;" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b39cf748128125.588faf90f081e.png" srcset="https://mir-s3-cdn-cf.behance.net/project_modules/disp/b39cf748128125.588faf90f081e.png 600w,https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b39cf748128125.588faf90f081e.png 1200w,https://mir-s3-cdn-cf.behance.net/project_modules/1400/b39cf748128125.588faf90f081e.png 1400w,https://mir-s3-cdn-cf.behance.net/project_modules/fs/b39cf748128125.588faf90f081e.png 1920w,https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/b39cf748128125.588faf90f081e.png 2474w," sizes="(max-width: 1200px) 100vw, 1200px">

        <div class="title">The Process</div>

        <p>Our team set out to tackle each issue using Design Thinking. We broke it down into two Design Sprints to cover all the problems facing articles and galleries. A team of 8-12 people was assembled from various disciplines including Design, Development, Product, Editorial, Photography and Research. &nbsp;</p>

        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/6243f248128125.588fb217c2741.png" srcset="https://mir-s3-cdn-cf.behance.net/project_modules/disp/6243f248128125.588fb217c2741.png 600w,https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/6243f248128125.588fb217c2741.png 1200w,https://mir-s3-cdn-cf.behance.net/project_modules/1400/6243f248128125.588fb217c2741.png 1400w,https://mir-s3-cdn-cf.behance.net/project_modules/fs/6243f248128125.588fb217c2741.png 1728w," sizes="(max-width: 1200px) 100vw, 1200px">

        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/11c7a548128125.588fb217c2cf6.jpg" srcset="https://mir-s3-cdn-cf.behance.net/project_modules/disp/11c7a548128125.588fb217c2cf6.jpg 600w,https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/11c7a548128125.588fb217c2cf6.jpg 1200w,https://mir-s3-cdn-cf.behance.net/project_modules/1400/11c7a548128125.588fb217c2cf6.jpg 1400w,https://mir-s3-cdn-cf.behance.net/project_modules/fs/11c7a548128125.588fb217c2cf6.jpg 1920w,https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/11c7a548128125.588fb217c2cf6.jpg 2504w," sizes="(max-width: 1200px) 100vw, 1200px">

        <div class="title">The Solution</div>

        <p>Our user studies suggested that our pages were too ‘busy’. By reducing the amount of clutter on the page we gave the user more opportunity to find other articles that might interest them. This lead to a bump in avg. page views/visit.</p><p><br></p><p>We also introduced autoplay for the next video in the top container which surprised and delighted users. This lead to a bump in avg. video views/visit.</p><p><br></p><p>The minimalist approach to the page design lead to a more modern feel addressing user's&nbsp;initial concerns.</p>

        <div class="subtitle">Article</div>

        <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/88e04a48128125.588fb217c343c.png" srcset="https://mir-s3-cdn-cf.behance.net/project_modules/disp/88e04a48128125.588fb217c343c.png 600w,https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/88e04a48128125.588fb217c343c.png 1200w,https://mir-s3-cdn-cf.behance.net/project_modules/1400/88e04a48128125.588fb217c343c.png 1400w,https://mir-s3-cdn-cf.behance.net/project_modules/fs/88e04a48128125.588fb217c343c.png 1900w," sizes="(max-width: 1200px) 100vw, 1200px">
        
        <img style="width:50%;" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/81d6be48128125.588fb217c378a.png" srcset="https://mir-s3-cdn-cf.behance.net/project_modules/disp/81d6be48128125.588fb217c378a.png 600w,https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/81d6be48128125.588fb217c378a.png 660w," sizes="(max-width: 660px) 100vw, 660px">
        
        <div style="width: 100vw;position: relative;left: 50%;right: 50%;margin-left: -50vw;margin-right:-50vw;">
        <img  style="width: 100%;" src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/7e311448128125.588fb217c3cdf.jpg" srcset="https://mir-s3-cdn-cf.behance.net/project_modules/disp/7e311448128125.588fb217c3cdf.jpg 600w,https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7e311448128125.588fb217c3cdf.jpg 1200w,https://mir-s3-cdn-cf.behance.net/project_modules/1400/7e311448128125.588fb217c3cdf.jpg 1400w,https://mir-s3-cdn-cf.behance.net/project_modules/fs/7e311448128125.588fb217c3cdf.jpg 1920w,https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/7e311448128125.588fb217c3cdf.jpg 2798w," sizes="(max-width: 1400px) 100vw, 1400px">
        </div>

        <div class="subtitle">Gallery</div>

        <img class="js-lazy image-loaded" original="https://a5.behance.net/70a7b29e0d7cb49a363b3d5e02dcd51624b9c291/img/site/blank.png" srcset="https://mir-s3-cdn-cf.behance.net/project_modules/disp/05a3a748128125.588fb217c4246.png 600w,https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/05a3a748128125.588fb217c4246.png 1200w,https://mir-s3-cdn-cf.behance.net/project_modules/1400/05a3a748128125.588fb217c4246.png 1400w,https://mir-s3-cdn-cf.behance.net/project_modules/fs/05a3a748128125.588fb217c4246.png 1730w," src="https://a5.behance.net/70a7b29e0d7cb49a363b3d5e02dcd51624b9c291/img/site/blank.png" sizes="(max-width: 1400px) 100vw, 1400px">

        <img class="js-lazy image-loaded" original="https://a5.behance.net/70a7b29e0d7cb49a363b3d5e02dcd51624b9c291/img/site/blank.png" srcset="https://mir-s3-cdn-cf.behance.net/project_modules/disp/21214b48128125.588fb217c4768.png 600w,https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/21214b48128125.588fb217c4768.png 1200w,https://mir-s3-cdn-cf.behance.net/project_modules/1400/21214b48128125.588fb217c4768.png 1400w,https://mir-s3-cdn-cf.behance.net/project_modules/fs/21214b48128125.588fb217c4768.png 1920w,https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/21214b48128125.588fb217c4768.png 2000w," src="https://a5.behance.net/70a7b29e0d7cb49a363b3d5e02dcd51624b9c291/img/site/blank.png" sizes="(max-width: 1200px) 100vw, 1200px">

        <img style="width:50%;" class="js-lazy image-loaded" original="https://a5.behance.net/70a7b29e0d7cb49a363b3d5e02dcd51624b9c291/img/site/blank.png" srcset="https://mir-s3-cdn-cf.behance.net/project_modules/disp/85a92748128125.588fb217c4be8.png 600w,https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/85a92748128125.588fb217c4be8.png 1200w,https://mir-s3-cdn-cf.behance.net/project_modules/1400/85a92748128125.588fb217c4be8.png 1400w,https://mir-s3-cdn-cf.behance.net/project_modules/fs/85a92748128125.588fb217c4be8.png 1508w," src="https://a5.behance.net/70a7b29e0d7cb49a363b3d5e02dcd51624b9c291/img/site/blank.png" sizes="(max-width: 1200px) 100vw, 1200px">

        <div class="title">Styleguide</div>

        <div class="subtitle">Colors</div>
        
        <img class="js-lazy image-loaded" original="https://a5.behance.net/70a7b29e0d7cb49a363b3d5e02dcd51624b9c291/img/site/blank.png" srcset="https://mir-s3-cdn-cf.behance.net/project_modules/disp/37d49748128125.588fb49f2cc6b.png 600w,https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/37d49748128125.588fb49f2cc6b.png 1200w,https://mir-s3-cdn-cf.behance.net/project_modules/1400/37d49748128125.588fb49f2cc6b.png 1400w,https://mir-s3-cdn-cf.behance.net/project_modules/fs/37d49748128125.588fb49f2cc6b.png 1920w,https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/37d49748128125.588fb49f2cc6b.png 2018w," src="https://a5.behance.net/70a7b29e0d7cb49a363b3d5e02dcd51624b9c291/img/site/blank.png" sizes="(max-width: 1200px) 100vw, 1200px">

        <div class="subtitle">Gradients</div>
        <div style="width: 100vw;position: relative;left: 50%;right: 50%;margin-left: -50vw;margin-right:-50vw;">
        <img style="width:100%;" class="js-lazy image-loaded" original="https://a5.behance.net/70a7b29e0d7cb49a363b3d5e02dcd51624b9c291/img/site/blank.png" srcset="https://mir-s3-cdn-cf.behance.net/project_modules/disp/ee30e248128125.588fb328a4316.png 600w,https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ee30e248128125.588fb328a4316.png 1200w,https://mir-s3-cdn-cf.behance.net/project_modules/1400/ee30e248128125.588fb328a4316.png 1400w,https://mir-s3-cdn-cf.behance.net/project_modules/fs/ee30e248128125.588fb328a4316.png 1920w,https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/ee30e248128125.588fb328a4316.png 2794w," src="https://a5.behance.net/70a7b29e0d7cb49a363b3d5e02dcd51624b9c291/img/site/blank.png" sizes="(max-width: 1400px) 100vw, 1400px">
        </div>

        <div class="subtitle">Typography</div>

        <img class="js-lazy image-loaded" original="https://a5.behance.net/70a7b29e0d7cb49a363b3d5e02dcd51624b9c291/img/site/blank.png" srcset="https://mir-s3-cdn-cf.behance.net/project_modules/disp/05f33848128125.588fb328a4877.png 600w,https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/05f33848128125.588fb328a4877.png 1200w,https://mir-s3-cdn-cf.behance.net/project_modules/1400/05f33848128125.588fb328a4877.png 1400w,https://mir-s3-cdn-cf.behance.net/project_modules/fs/05f33848128125.588fb328a4877.png 1920w,https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/05f33848128125.588fb328a4877.png 2384w," src="https://a5.behance.net/70a7b29e0d7cb49a363b3d5e02dcd51624b9c291/img/site/blank.png" sizes="(max-width: 1200px) 100vw, 1200px">
        
      </div>
      </div>
    </div>
  </div>