  <div class="poy" class="img-responsive vertical-center"></div>
  <div class="jumbotron vertical-center">
    <h1 class="title">TIME<br>PERSON OF THE YEAR</h1>
    <h3 class="subtitle">~ &nbsp; Time Magazine &nbsp; ~</h3>
    <a href="http://time.com/time-person-of-the-year-2016-donald-trump/" target="_blank" class="badge">Launch Site</a>
  </div>

  <div class="row">
    <div class="container">
      <div id="primary-project-content" class="col-xs-12">
      <div id="project-canvas-poy" style="background:#AF1D2A;" class="project-styles text-center">
        <p class="title">PERSON OF THE YEAR</p>
        <img style="padding-top: 100px;" src="images/trump@2x.png"/>
        <img style="padding-top: 100px;" src="images/trump2@2x.png"/>
        <p class="title">RUNNER UP</p>
        <img style="padding-top: 100px;" src="images/clinton@2x.png"/>
        <p class="title">RUNNER UP</p>
        <img style="padding-top: 100px;" src="images/erdogan@2x.png"/>
        <p class="title">RUNNER UP</p>
        <img style="padding-top: 100px;" src="images/beyonce@2x.png"/>
        <p class="title">RUNNER UP</p>
        <img style="padding-top: 100px;" src="images/crispr@2x.png"/>
        <p class="title">RUNNER UP</p>
        <img style="padding-top: 100px;" src="images/hackers@2x.png"/>
        
      </div>
      </div>
    </div>
  </div>