
	<!-- <div parallax id="bg" class="bg img-responsive"></div> -->
  <!-- <img src="/images/historyofinnovation.png" class="img-responsive" alt="Responsive image"> -->
	<div style="position:relative;">
		<div class="history" class="img-responsive vertical-center"></div>
		<div class="vertical-center">
		    <h1 class="title">HISTORY OF INNOVATION</h1>
		    <h3 class="subtitle">~ &nbsp; AT&T AdWorks Lab &nbsp; ~</h3>
		</div>
	</div>


<!-- <section> 
	<div ng-controller="behanceCtrl">

		<ul>
		  <li ng-repeat="project in projects">
		    <img ng-repeat="src in projects.project.modules[4]" src="{{ src }}"/>
		  </li>
		</ul>
	        
	</div>
</section> -->