<div class="future" class="img-responsive vertical-center"></div>
<div class="jumbotron vertical-center">
	<h1 class="title">A LOOK INTO THE FUTURE</h1>
	<h3 class="subtitle">~ &nbsp; AT&T AdWorks Lab &nbsp; ~</h3>
</div>

<div class="row">
<div class="container">
<div class="col-xs-12">
<div id="primary-project-content" class="project-styles">
<div id="project-canvas-future" class="project-styles">

<div id="project-modules">

<div class="spacer">
<div class="divider"></div>
</div>
<div>
<div class="project-module module project-module-text text align-center">
<div class="container">
<hr>
<div class="futureText text-center">
<p>Our team was tasked with demonstrating a "Look Into the Future of Advertising" through the eyes of a Media Buyer. The goal was blend real world scenarios happening in realtime with a Media Buyer who is strategically adjusting their campaign to reach their customers at the right time, right place and with the right message. Aesthetically, we wanted this project to feel "futuristic, clean, sleek, modern". Some of our inspiration can be found below.&nbsp;</p><p>&nbsp;</p>
</div>
</div>
</div>




<div class="spacer">
<div class="divider"></div>
</div>




<div class="project-module module embed project-module-embed">
<div class="embed-dimensions" style="max-width: 1600px; max-height: 788px; margin: 0 auto;">
<div class="embed-aspect-ratio" style="padding-bottom: 49.25%; position: relative; height: 0;">
<iframe src="https://player.vimeo.com/video/116355890?title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
</div>
</div>
<div class="spacer">
<div class="divider"></div>
</div>

<div class="project-module-image-inner-wrap">
	<img class="center-block img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/7141f022609077.563165d941738.png">
</div>


<div class="spacer">
<div class="divider"></div>
</div>


<div class="project-module-image-inner-wrap">
	<img class="center-block img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ed6f8022609077.563165d745cd1.png">
</div>
</div>



<div class="spacer">
<div class="divider"></div>
</div>


<div class="project-module-image-inner-wrap">
<img class="center-block img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/546dd222609077.563165d17d0bb.png">
</div>
</div>


<div class="spacer">
<div class="divider"></div>
</div>

<div class="project-module-image-inner-wrap">
<img class="center-block img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b092dd22609077.563165d74baa7.png">
</div>



<div class="spacer">
<div class="divider"></div>
</div>

<div class="project-module-image-inner-wrap">
<img class="center-block img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/cc839222609077.563165d751bae.png">
</div>



<div class="spacer">
<div class="divider"></div>
</div>

<div class="project-module-image-inner-wrap">
<img class="center-block img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/24ada422609077.563165d75610c.png">
</div>



<div class="spacer">
<div class="divider"></div>
</div>

<div class="project-module-image-inner-wrap">
<img class="center-block img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/ca55ef22609077.563165d75cbb3.png">
</div>



<div class="spacer">
<div class="divider"></div>
</div>

<div class="project-module-image-inner-wrap">
<img class="center-block img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f1f85522609077.5631587278162.jpg">
</div>



<div class="spacer">
<div class="divider"></div>
</div>

<div class="project-module-image-inner-wrap">
<img class="center-block img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/895bcb22609077.56315886a0155.jpg">
</div>



<div class="spacer">
<div class="divider"></div>
</div>

<div class="project-module-image-inner-wrap">
<img class="center-block img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4f13d622609077.563158869f7ae.jpg">
</div>



<div class="spacer">
<div class="divider"></div>
</div>

<div class="project-module-image-inner-wrap">
<img class="center-block img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/5fb1c022609077.56315886b29f6.jpg">
</div>

<div class="futureText text-center" style="padding-top:40px;">
<p>Credits:</p>
<p>We had an amazing team that we assembled for this project, a combination of in-house and out of house production.</p><p>&nbsp;</p><p>EXECUTIVE PRODUCER: Adam Perlis and Alex Kozovski</p><p>DP: Zach Kuperstein</p><p>DIRECTOR: Adam Perlis and Alex Kozovski</p><p>CREATIVE DIRECTOR: Adam Perlis</p><p>TALENT: Nikki Pettus and Que Brandon</p><p>WRITER/EDITOR: Adam Perlis</p><p>POST PRODUCTION SUPERVISOR: Yang Yang</p><p>MOTION DESIGNER: Kelvin Fadul and Yang Yang</p><p>DESIGNER: Isaiah Frazier, Malissa Smith, JP&nbsp;Guaqueta</p><p>COLORIST:&nbsp;Shawn Gauvain</p><p>1ST AC:&nbsp;Cory Fraiman-Lott&nbsp;</p><p>2ND AC:&nbsp;Alex Schaefer</p><p>KEY GRIP: Mark Solomon</p><p>GAFFER: Ted Maroney</p><p>PRODUCTION MANAGER: Cindy Laughlin</p><p>MUSIC: Wolf &amp; Rabbit Music</p><p>VO: Jonathan Hanst</p>
</div>


</div>
</div>
</div>
</div>
</div>
</div>
