<div class="podium" class="img-responsive vertical-center"></div>
<div class="jumbotron vertical-center">
	<h1 class="title">PODIUM</h1>
	<h3 class="subtitle">~ &nbsp; getpodium.com &nbsp; ~</h3>
	<a href="http://www.getpodium.com" target="_blank" class="badge">Launch Site</a>
</div>


<div class="row">
<div class="container">
<div class="col-xs-12">
<div id="primary-project-content" class="project-styles">
<div id="project-canvas-podium" class="project-styles">

<div id="project-modules">
<div id="project-spacer">
</div>

<div class="spacer">
<div class="divider"></div>
</div>
<div class="project-module module project-module-text text align-center">
<div class="main-text">
<div class="container">
<hr>
<div style="text-align: center;"><span><span style="color:#FFFFFF;">This is the UX/UI and Branding done for my startup Podium (</span><span class="bold"><a href="http://getpodium.com" style="color:#FFFFFF;" target="_blank"><span style="color:#FFFFFF;">http://getpodium.com</span></a></span><span style="color:#FFFFFF;">). I built this site from scratch using Ruby on Rails, HTML, Javascript and CSS. All the frontend design was also done by me as well. Hope you like it.</span></span></div>
</div>
</div>
</div>




<div class="spacer">
<div class="divider"></div>
</div>

<div class="project-module-image-inner-wrap">
<img class="center-block img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/890c5b26606811.56359c66d16ca.png">
</div>



<div class="spacer">
<div class="divider"></div>
</div>

<div class="project-module-image-inner-wrap">
<img class="center-block img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f75d8226606811.56359c66dfd74.png">
</div>



<div class="spacer">
<div class="divider"></div>
</div>

<div class="project-module-image-inner-wrap">
<img class="center-block img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/72aae626606811.56359c66c8d4b.png">
</div>



<div class="spacer">
<div class="divider"></div>
</div>

<div class="project-module-image-inner-wrap">
<img class="center-block img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/88640f26606811.56359c66da0b9.png">
</div>



<div class="spacer">
<div class="divider"></div>
</div>

<div class="project-module-image-inner-wrap">
<img class="center-block img-responsive" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a40b7d26606811.56359c66e463d.png">
</div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
